.post-type-ticket *,
.post-type-ticket *:before,
.post-type-ticket *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.toplevel_page_helpdesk-livechat *,
.toplevel_page_helpdesk-livechat *:before,
.toplevel_page_helpdesk-livechat *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#wpattachments_parent {
	width: 15%;
}
a.copy-to-faq {
    float: right;
    margin-bottom: 20px !important;
}

.kong-helpdesk-label {
  display: inline;
  padding: .2em .6em .3em;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.helpdesk-avatar {
  border-radius: 50%;
}
.post-type-ticket #misc-publishing-actions, 
.post-type-ticket #minor-publishing-actions, 
.post-type-ticket #commentstatusdiv,
.post-type-ticket #authordiv {
	display: none;
}

.kong-helpdesk-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  background-color: #fff;
}
.kong-helpdesk-row {
  margin-left: -15px;
  margin-right: -15px;
}
.kong-helpdesk-col-xs-1, .kong-helpdesk-col-sm-1, .kong-helpdesk-col-md-1, .kong-helpdesk-col-lg-1, .kong-helpdesk-col-xs-2, .kong-helpdesk-col-sm-2, .kong-helpdesk-col-md-2, .kong-helpdesk-col-lg-2, .kong-helpdesk-col-xs-3, .kong-helpdesk-col-sm-3, .kong-helpdesk-col-md-3, .kong-helpdesk-col-lg-3, .kong-helpdesk-col-xs-4, .kong-helpdesk-col-sm-4, .kong-helpdesk-col-md-4, .kong-helpdesk-col-lg-4, .kong-helpdesk-col-xs-5, .kong-helpdesk-col-sm-5, .kong-helpdesk-col-md-5, .kong-helpdesk-col-lg-5, .kong-helpdesk-col-xs-6, .kong-helpdesk-col-sm-6, .kong-helpdesk-col-md-6, .kong-helpdesk-col-lg-6, .kong-helpdesk-col-xs-7, .kong-helpdesk-col-sm-7, .kong-helpdesk-col-md-7, .kong-helpdesk-col-lg-7, .kong-helpdesk-col-xs-8, .kong-helpdesk-col-sm-8, .kong-helpdesk-col-md-8, .kong-helpdesk-col-lg-8, .kong-helpdesk-col-xs-9, .kong-helpdesk-col-sm-9, .kong-helpdesk-col-md-9, .kong-helpdesk-col-lg-9, .kong-helpdesk-col-xs-10, .kong-helpdesk-col-sm-10, .kong-helpdesk-col-md-10, .kong-helpdesk-col-lg-10, .kong-helpdesk-col-xs-11, .kong-helpdesk-col-sm-11, .kong-helpdesk-col-md-11, .kong-helpdesk-col-lg-11, .kong-helpdesk-col-xs-12, .kong-helpdesk-col-sm-12, .kong-helpdesk-col-md-12, .kong-helpdesk-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.kong-helpdesk-col-xs-1, .kong-helpdesk-col-xs-2, .kong-helpdesk-col-xs-3, .kong-helpdesk-col-xs-4, .kong-helpdesk-col-xs-5, .kong-helpdesk-col-xs-6, .kong-helpdesk-col-xs-7, .kong-helpdesk-col-xs-8, .kong-helpdesk-col-xs-9, .kong-helpdesk-col-xs-10, .kong-helpdesk-col-xs-11, .kong-helpdesk-col-xs-12 {
  float: left;
}
.kong-helpdesk-col-xs-12 {
  width: 100%;
}
.kong-helpdesk-col-xs-11 {
  width: 91.66666667%;
}
.kong-helpdesk-col-xs-10 {
  width: 83.33333333%;
}
.kong-helpdesk-col-xs-9 {
  width: 75%;
}
.kong-helpdesk-col-xs-8 {
  width: 66.66666667%;
}
.kong-helpdesk-col-xs-7 {
  width: 58.33333333%;
}
.kong-helpdesk-col-xs-6 {
  width: 50%;
}
.kong-helpdesk-col-xs-5 {
  width: 41.66666667%;
}
.kong-helpdesk-col-xs-4 {
  width: 33.33333333%;
}
.kong-helpdesk-col-xs-3 {
  width: 25%;
}
.kong-helpdesk-col-xs-2 {
  width: 16.66666667%;
}
.kong-helpdesk-col-xs-1 {
  width: 8.33333333%;
}
.kong-helpdesk-col-xs-pull-12 {
  right: 100%;
}
.kong-helpdesk-col-xs-pull-11 {
  right: 91.66666667%;
}
.kong-helpdesk-col-xs-pull-10 {
  right: 83.33333333%;
}
.kong-helpdesk-col-xs-pull-9 {
  right: 75%;
}
.kong-helpdesk-col-xs-pull-8 {
  right: 66.66666667%;
}
.kong-helpdesk-col-xs-pull-7 {
  right: 58.33333333%;
}
.kong-helpdesk-col-xs-pull-6 {
  right: 50%;
}
.kong-helpdesk-col-xs-pull-5 {
  right: 41.66666667%;
}
.kong-helpdesk-col-xs-pull-4 {
  right: 33.33333333%;
}
.kong-helpdesk-col-xs-pull-3 {
  right: 25%;
}
.kong-helpdesk-col-xs-pull-2 {
  right: 16.66666667%;
}
.kong-helpdesk-col-xs-pull-1 {
  right: 8.33333333%;
}
.kong-helpdesk-col-xs-pull-0 {
  right: auto;
}
.kong-helpdesk-col-xs-push-12 {
  left: 100%;
}
.kong-helpdesk-col-xs-push-11 {
  left: 91.66666667%;
}
.kong-helpdesk-col-xs-push-10 {
  left: 83.33333333%;
}
.kong-helpdesk-col-xs-push-9 {
  left: 75%;
}
.kong-helpdesk-col-xs-push-8 {
  left: 66.66666667%;
}
.kong-helpdesk-col-xs-push-7 {
  left: 58.33333333%;
}
.kong-helpdesk-col-xs-push-6 {
  left: 50%;
}
.kong-helpdesk-col-xs-push-5 {
  left: 41.66666667%;
}
.kong-helpdesk-col-xs-push-4 {
  left: 33.33333333%;
}
.kong-helpdesk-col-xs-push-3 {
  left: 25%;
}
.kong-helpdesk-col-xs-push-2 {
  left: 16.66666667%;
}
.kong-helpdesk-col-xs-push-1 {
  left: 8.33333333%;
}
.kong-helpdesk-col-xs-push-0 {
  left: auto;
}
.kong-helpdesk-col-xs-offset-12 {
  margin-left: 100%;
}
.kong-helpdesk-col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.kong-helpdesk-col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.kong-helpdesk-col-xs-offset-9 {
  margin-left: 75%;
}
.kong-helpdesk-col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.kong-helpdesk-col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.kong-helpdesk-col-xs-offset-6 {
  margin-left: 50%;
}
.kong-helpdesk-col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.kong-helpdesk-col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.kong-helpdesk-col-xs-offset-3 {
  margin-left: 25%;
}
.kong-helpdesk-col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.kong-helpdesk-col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.kong-helpdesk-col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .kong-helpdesk-col-sm-1, .kong-helpdesk-col-sm-2, .kong-helpdesk-col-sm-3, .kong-helpdesk-col-sm-4, .kong-helpdesk-col-sm-5, .kong-helpdesk-col-sm-6, .kong-helpdesk-col-sm-7, .kong-helpdesk-col-sm-8, .kong-helpdesk-col-sm-9, .kong-helpdesk-col-sm-10, .kong-helpdesk-col-sm-11, .kong-helpdesk-col-sm-12 {
    float: left;
  }
  .kong-helpdesk-col-sm-12 {
    width: 100%;
  }
  .kong-helpdesk-col-sm-11 {
    width: 91.66666667%;
  }
  .kong-helpdesk-col-sm-10 {
    width: 83.33333333%;
  }
  .kong-helpdesk-col-sm-9 {
    width: 75%;
  }
  .kong-helpdesk-col-sm-8 {
    width: 66.66666667%;
  }
  .kong-helpdesk-col-sm-7 {
    width: 58.33333333%;
  }
  .kong-helpdesk-col-sm-6 {
    width: 50%;
  }
  .kong-helpdesk-col-sm-5 {
    width: 41.66666667%;
  }
  .kong-helpdesk-col-sm-4 {
    width: 33.33333333%;
  }
  .kong-helpdesk-col-sm-3 {
    width: 25%;
  }
  .kong-helpdesk-col-sm-2 {
    width: 16.66666667%;
  }
  .kong-helpdesk-col-sm-1 {
    width: 8.33333333%;
  }
  .kong-helpdesk-col-sm-pull-12 {
    right: 100%;
  }
  .kong-helpdesk-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .kong-helpdesk-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .kong-helpdesk-col-sm-pull-9 {
    right: 75%;
  }
  .kong-helpdesk-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .kong-helpdesk-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .kong-helpdesk-col-sm-pull-6 {
    right: 50%;
  }
  .kong-helpdesk-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .kong-helpdesk-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .kong-helpdesk-col-sm-pull-3 {
    right: 25%;
  }
  .kong-helpdesk-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .kong-helpdesk-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .kong-helpdesk-col-sm-pull-0 {
    right: auto;
  }
  .kong-helpdesk-col-sm-push-12 {
    left: 100%;
  }
  .kong-helpdesk-col-sm-push-11 {
    left: 91.66666667%;
  }
  .kong-helpdesk-col-sm-push-10 {
    left: 83.33333333%;
  }
  .kong-helpdesk-col-sm-push-9 {
    left: 75%;
  }
  .kong-helpdesk-col-sm-push-8 {
    left: 66.66666667%;
  }
  .kong-helpdesk-col-sm-push-7 {
    left: 58.33333333%;
  }
  .kong-helpdesk-col-sm-push-6 {
    left: 50%;
  }
  .kong-helpdesk-col-sm-push-5 {
    left: 41.66666667%;
  }
  .kong-helpdesk-col-sm-push-4 {
    left: 33.33333333%;
  }
  .kong-helpdesk-col-sm-push-3 {
    left: 25%;
  }
  .kong-helpdesk-col-sm-push-2 {
    left: 16.66666667%;
  }
  .kong-helpdesk-col-sm-push-1 {
    left: 8.33333333%;
  }
  .kong-helpdesk-col-sm-push-0 {
    left: auto;
  }
  .kong-helpdesk-col-sm-offset-12 {
    margin-left: 100%;
  }
  .kong-helpdesk-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .kong-helpdesk-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .kong-helpdesk-col-sm-offset-9 {
    margin-left: 75%;
  }
  .kong-helpdesk-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .kong-helpdesk-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .kong-helpdesk-col-sm-offset-6 {
    margin-left: 50%;
  }
  .kong-helpdesk-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .kong-helpdesk-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .kong-helpdesk-col-sm-offset-3 {
    margin-left: 25%;
  }
  .kong-helpdesk-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .kong-helpdesk-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .kong-helpdesk-col-sm-offset-0 {
    margin-left: 0%;
  }
}

.kong-helpdesk-clearfix:before,
.kong-helpdesk-clearfix:after,
.kong-helpdesk-container:before,
.kong-helpdesk-container:after,
.kong-helpdesk-container-fluid:before,
.kong-helpdesk-container-fluid:after,
.kong-helpdesk-row:before,
.kong-helpdesk-row:after {
  content: " ";
  display: table;
}
.kong-helpdesk-clearfix:after,
.kong-helpdesk-container:after,
.kong-helpdesk-container-fluid:after,
.kong-helpdesk-row:after {
  clear: both;
}
.kong-helpdesk-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.kong-helpdesk-pull-right {
  float: right !important;
}
.kong-helpdesk-pull-left {
  float: left !important;
}
.kong-helpdesk-hide {
  display: none !important;
}
.kong-helpdesk-show {
  display: block !important;
}

.kong-helpdesk-left {
  text-align: left;
}

.kong-helpdesk-right {
  text-align: right;
}

.kong-helpdesk-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#redux-header .rAds {
  display: none !important;
}

.wp-list-table #taxonomy-ticket_status, 
.wp-list-table #taxonomy-ticket_type, 
.wp-list-table #taxonomy-ticket_system, 
.wp-list-table #satisfied, 
.wp-list-table #taxonomy-ticket_priority {
  width: 8%;
}

#taxonomy-ticket_status select{
  display: block!important;
}
.wp-list-table #assigned, 
.wp-list-table #from {
  width: auto;
}

ul.ticket_notes li {
  padding: 0 10px;
}

ul.ticket_notes li .note_content {
    padding: 10px;
    background: #efefef;
    position: relative;
}

ul.ticket_notes li .note_content p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

ul.ticket_notes li .note_content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: #efefef transparent;
}

ul.ticket_notes li p.meta {
    padding: 10px;
    color: #999;
    margin: 0;
    font-size: 11px;
}


ul.ticket_notes li p.meta .exact-date {
    border-bottom: 1px dotted #999;
}

ul.ticket_notes li a.delete_note {
    color: #a00;
}

.add_ticket_note {
    border-top: 1px solid #ddd;
    padding: 10px 10px 0;
}

.add_ticket_note h4 {
    margin-top: 5px!important;
}

.add_ticket_note #ticket_note {
    width: 100%;
    height: 50px;
}

.kong-helpdesk-livechat-sidebar {
  background-color: #FFF;
}

.kong-helpdesk-livechat-sidebar-item {
  padding: 10px 20px 5px;
  display: block;
}

.kong-helpdesk-livechat-sidebar-item:hover {
  cursor: pointer;
}

.kong-helpdesk-livechat-sidebar {
  height: 550px;
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #ddd;
}

.kong-helpdesk-livechat-main {
  padding-right: 40px;
}

.kong-helpdesk-livechat-messages {
  background-color: #dddddd;
  padding: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  /*border-radius: 20px 0 20px 0;*/
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.kong-helpdesk-backend-livechat {
  /*border: 2px solid #eaeaea;*/
}

.kong-helpdesk-livechat-message-avatar, .kong-helpdesk-livechat-message-avatar img {
  max-width: 40px;
  height: auto;
}

.kong-helpdesk-livechat-message {
  margin: 6px 0;
}

.kong-helpdesk-livechat-message-content {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.kong-helpdesk-livechat-reporter .kong-helpdesk-livechat-message-content {
  background: #FFF;
}

.kong-helpdesk-livechat-agent .kong-helpdesk-livechat-message-content {
  background: #2196F3;
  color: #FFF;
}

.kong-helpdesk-livechat-reporter .kong-helpdesk-livechat-message-avatar {
  float: left;
  margin-right: 10px;
}

.kong-helpdesk-livechat-agent {
  text-align: right;
}

.kong-helpdesk-livechat-agent .kong-helpdesk-livechat-message-avatar {
  float: right;
  margin-left: 10px;
}

.kong-helpdesk-livechat-sidebar-item-avatar {
  max-width: 100%;
  border-radius: 50%;
}

.kong-helpdesk-livechat-sidebar-item-title {
    font-size: 16px;
    font-weight: bold;
}

.kong-helpdesk-livechat-sidebar-item:hover {
  background-color: #F2F7FF;
}

.kong-helpdesk-livechat-sidebar-item-active {
  background-color: #e4eeff;
}

.kong-helpdesk-livechat-author {
    float: left;
    width: 30px;
    margin-right: 15px;
    font-size: 10px;
    line-height: 13px;
    color: #808080;
    text-align: center;
    position: relative;
}

.kong-helpdesk-livechat-author-name {
    visibility: hidden;
    width: 60px;
    top: 100%;
    left: 50%; 
    margin-left: -30px; /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.kong-helpdesk-livechat-author:hover .kong-helpdesk-livechat-author-name {
    visibility: visible;
}

.kong-helpdesk-livechat-message-agent .kong-helpdesk-livechat-author {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

.kong-helpdesk-livechat-author img {
  border-radius: 50%;
  max-width: 100%;
}

.kong-helpdesk-livechat-message {
  float: left;
  margin: 0;
  background: #F2F2F2;
  color: #000;
  width: auto;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  max-width: 85%;
  margin-bottom: 10px;
}

.kong-helpdesk-livechat-message p {
    margin: 0;
    padding: 0;
}

.kong-helpdesk-livechat-message:before, 
.kong-helpdesk-livechat-message:after{
  content: " ";
  display: table;
  clear: both;
  float: none;
}

.kong-helpdesk-livechat-message-agent .kong-helpdesk-livechat-message {
  float: right;
  background-color: #1786e5;
  color: #FFF;
}

.kong-helpdesk-livechat-footer {
    background-color: #FFF;
    height: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
}

input[type="text"].kong-helpdesk-livechat-comment-form-message,
.kong-helpdesk-livechat-comment-form-message {
    background-color: #FFFFFF;
    border: none;
    width: 100%;
    color: #1786e5;
    font-size: 16px;
    line-height: 22px;
    padding: 15px 15px;
}

.kong-helpdesk-livechat-comment-form-attachment {
    position: absolute;
    top: 14px;
    right: 15px;
}

.kong-helpdesk-livechat-comment-form-attachment > input {
    display: none;
}

.kong-helpdesk-livechat-comment-form-attachment .fa {
    color: #1786e5;
    font-size: 20px;
}

#kong-helpdesk-attachments ul {
  list-style: none;
}

#kong-helpdesk-attachments ul li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #3a3a3a;
    max-width: 25%;
}

#kong-helpdesk-attachments ul li img {
    max-width: 100%;
    height: auto;
}

.lum-lightbox.lum-open {
    z-index: 99999999;
}


/* custom css */

.app__navigation  {
  overflow-y: scroll !important;
}
body::-webkit-scrollbar,
.app__navigation::-webkit-scrollbar,
.kong-container::-webkit-scrollbar,
.form-landing::-webkit-scrollbar {
 width: 5px;
}

body::-webkit-scrollbar-track,
.app__navigation::-webkit-scrollbar-track,
.kong-container::-webkit-scrollbar-track,
.form-landing::-webkit-scrollbar-track {
 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.app__navigation::-webkit-scrollbar-thumb,
.kong-container::-webkit-scrollbar-thumb,
.form-landing::-webkit-scrollbar-thumb {
 background-color:#3a3a3a;
 outline: 1px solid #000;
 border-radius: 5px;
}
.kong-container::-webkit-scrollbar-thumb {
background-color: #000
}
.wp-submenu .wp-submenu-head {
  display: none !important;
}
.side-navigation__menu-item > i {
  display: none !important;
}
li.wp-first-item {
  padding: 0 !important;
}
li.wp-first-item a{
  padding: 15px !important;
}
.wp-submenu li a i {
  display: none !important;
}
.wp-submenu li a {
  text-transform: capitalize;
}

.wp-submenu li a span {
  float: right !important;
  background: #98752d;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 11px;
  width: 40px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablenav.bottom {
  display: none !important; 
}

.inboxes.widefat th.sortable a, .inboxes.widefat th.sorted a, .inboxes.widefat th, .posts th.sortable a, .posts.widefat th.sorted a, .posts.widefat th {
  font-size: 12px !important;
  color: #a2a2a2 !important;
}
.inboxes.widefat th:first-of-type{
  width: 80px;
}
.inboxes #the-list tr:last-child td, .inboxes #the-list tr:last-child th, .posts #the-list tr:last-child td, .posts #the-list tr:last-child th {
  vertical-align: middle !important;
}
.wp-list-table a {
  transition: none;
  color: #555;
}
.inboxes .customer.column-customer a, .posts .customer.column-customer a{
  display: flex;
  align-items: center;
}
.inboxes td.customer.column-customer a span, .posts td.customer.column-customer a span{
   margin-right: 5px;
   color: #6f6f6f;
}
.inboxes th#ticket_summary, .posts th#ticket_summary {
  width: 40%;
}
.inboxes .helpdesk-avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.info-warp {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  position: relative;
}
.info-warp p {
  margin: 0 !important;
}
.info-warp > p {
  color: #272727;
}
.widefat tbody td, .widefat tbody th {
  padding: 12px 10px !important;
}
.info-warp .cat-count {
  background: #f1f1f1;
  padding: 2px 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  color: #9c9c9c;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.row-actions {
  position: static !important;
}
.info-warp .cat-name {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 5px;
}
.info-warp .cat-name span {
  background: #AAAEB7;
  color: #fff;
  padding: 0px 7px;
  border-radius: 3px;
  font-size: 11px !important;
  margin-right: 5px;
}
.info-warp .cat-name p {
  font-weight: 600;
}
td.assigned_to.column-assigned_to, td.last_updated.column-last_updated {
  color: #272727;
}
td.ticket_id.column-ticket_id.has-row-actions.column-primary a {
  font-size: 12px;
  color: #8C6C2A;
}
th.check-column {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
tbody tr {
  border-bottom: 1px solid #e4e4e4 !important;
}
.kong-helpdesk-container select#agent {
  display: block !important;
}
.tablenav {
  clear: both;
  height: 30px;
  margin: 6px 0 4px;
  vertical-align: middle;
  margin-bottom: 15px;
  width: 100%;
}
.alignleft.actions.bulkactions {
  display: flex;
}
.alignleft.actions.bulkactions .select-wrapper {
  position: static !important;
}
.btn.action {
  padding: 0 25px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1 !important;
  margin-left: 10px !important; 
}
input.select-dropdown.dropdown-trigger {
  border-color: #7c6123 !important;
  outline: transparent solid 2px;
   box-shadow: none !important;
}
.dropdown-content li>a, .dropdown-content li>span {
  padding: 14px 24px;
  color: #272727 !important;
}

.inputs-btn {
  display: flex;
  align-items: center;
}
.inputs-btn .select-wrapper {
  width: 70%;
}
.inputs-btn .kong-helpdesk-col-sm {
  width: 30%;
  margin-left: 15px;
}
.inputs-btn .kong-helpdesk-col-sm input {
    padding: 0;
    width: 100%;
    height: 48px;
    margin-top: 4px;
    border-radius: 3px;
}
.ticket-graph h4 {
  font-size: 16px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.ticket-graph ul {
  display: flex;
  margin: 0;
}
.ticket-graph ul li {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 10px 20px;
  flex-flow: column;
  border-right: 1px solid #e6e6e6;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.ticket-graph ul li:last-child {
  border-right: none;
}
.ticket-graph ul li span {
  font-size: 18px;
  color: #111;
}
.ticket-graph ul li p {
  margin-bottom: 0;
  margin-top: 7px;
  line-height: 1.3;
  color: #aaa;
}
.main-graph {
  min-height: auto;
  background: transparent;
  margin: 15px 0;
  padding: 0;
  min-height: 300px;
}
.time-reply {
  margin-bottom: 30px;
}
.time-reply h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.time-reply p {
  text-align: center;
  font-size: 15px;
  margin: 0;
  font-weight: 300;
}
.table_head div, .table_body div {
  display: flex;
  flex: 1;
  color: #666;
  font-weight: 300;
  align-items: center;
  padding: 10px 0;
}
.table_head div {
  font-size: 12px;
}
.table_body div {
  color: #111;
}
.table_body div:first-child, .table_head div:first-child {
  flex: 2;
}
.ticket-graph-table {
  display: flex;
  flex-flow: column;
}
.table_head, .table_body {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}


.business-graph {
  margin: 10px 0;
  display: flex;
  flex-flow: column;
}
.points-business {
  display: flex;
}
.points-business .boxes {
  flex: 1;
  text-align: center;
  word-break: break-all;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  border: 1px solid #FFF;
  margin: -1px -1px 0 0;
}
.points-business .boxes:first-child {
  font-size: 13px;
  flex: 0 0 45px;
}
.material-tooltip { 
  font-size: 11px; 
  min-height: 25px; 
  background-color: rgba(0,0,0,.5); 
}
.update-plugins {
  display: none !important;
}
ul.ct-legend.linechart_helpdesk, ul.ct-legend.ct-legend-inside.pie_helpdesk {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
ul.ct-legend.ct-legend-inside.pie_helpdesk {
  flex-flow: column;
}
ul.ct-legend.linechart_helpdesk li, ul.ct-legend.ct-legend-inside.pie_helpdesk li{
  padding: 0 !important;
  margin: 0;
  display: flex !important;
  text-align: left;
  width: 100px !important;
  justify-content: flex-start;
  flex: 0 !important;
  flex-flow: row;
  border: none !important;
  padding-left: 20px !important;
  margin-right: 20px;
}
svg.ct-chart-line {
  top: 40px !important;
}
.ct-legend .ct-series-0:before {
  background-color: #2596F3 !important;
  border-color: #2596F3 !important;
}
.ct-legend .ct-series-1:before {
  background-color: #8BC349 !important;
  border-color: #8BC349 !important;
}
svg.ct-chart-donut {
  width: 80% !important;
}
.wp-submenu li.wp-first-item {
  padding: 0 !important;
}
a.desktop_default_logo {
  display: flex;
}
.side-menu__closed a.mobile_default_logo {
  display: flex !important;
}
.wrap {
  margin: 10px 20px 2px 20px;
}
h4 {
  font-size: 18px !important;
  margin: 1.14rem 0 .912rem;
}
.login form {
  position: relative !important;
}
input#current-page-selector {
  position: relative;
  border: none;
  width: auto;
}
form p.search-box {
  display: flex;
}
form p.search-box input#search-submit,form input#post-query-submit {
  height: 45px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  margin-left: 10px;
  border-radius: 5px;
}
.alignleft.actions {
  display: flex;
  flex-flow: row wrap;
}
.alignleft.actions .select-wrapper {
  position: static !important;
  margin-right: 10px;
}
.alignleft.actions .select-wrapper input.select-dropdown {
  font-size: 13px !important;
}
.select-wrapper .dropdown-content li>a, .dropdown-content li>span {
  font-size: 13px !important;
  padding: 10px 14px !important;
}
.helpdesk-avatar {
  width: 30px !important;
  height: auto;
}




@media (max-width: 767px) {
  .redux-action_bar input{
    width: auto !important;
    font-size: 13px !important;
    padding: 10px 10px !important
  }
  .redux-main h2 {
    font-size: 30px;
  }
  .redux-main h3 {
    font-size: 24px;
  }
  .display_header h2 {
    font-size: 30px;
  }
  
}